{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>

  <script>
    function triggerstravapull() {
      loadinggif = document.getElementById('loading')
      loadinggif.style.display = 'block';
      let url = '{{url_for('user.pulldata')}}';
      let res = fetch(url)
        .then((response)=>response.json())
        .then((data) => {console.log(data);
              loadinggif.style.display = 'none';
              window.location.reload()}
        );
    }
    function updatecolor() {
      async function updatecolor(newcolor) {
        let url = '{{url_for('user.color')}}';
        let head = new Headers();
        head.append('Content-type', 'application/json')
        const params = {color: newcolor}
        bodyargs = JSON.stringify(params);
        console.log(params);
        console.log(bodyargs);
        let res = await fetch(url, {method:'POST', 
                                    headers: head,
                                    body:bodyargs});
        return await res.json();
      };
    newcolor = document.getElementById('Usercolor').value;
    console.log(newcolor);
    updatecolor(newcolor).then(data => {console.log(data);
                                        document.getElementById("colorsubmit").value="updated"});
    };
    function resetsubmitbutton() {
      let button = document.getElementById("colorsubmit");
      let currvalue = button.value;
      if(currvalue == 'updated'){
        button.value = 'update color'
      }
    };

    function update_activity_dates() {
      url = '{{url_for('user.activity_bounds')}}';
      let res = fetch(url).then(response=>response.json())
                          .then(data=> {
                            aa = data;
                            console.log(data);
                            console.log(aa.earliest_content);
                            console.log(aa.latest_content);
                            document.getElementById('earliest_activity').textContent = aa.earliest_activity;
                            document.getElementById('latest_activity').textContent = aa.latest_activity;
                            }
                          )
    };

    let interval = setInterval(update_activity_dates, 1000);
  </script>

  {% endblock %}


{% block content %}
  <div>
    {{g.user.name}}
  </div>
  {% if not g.user.isauthenticated() %}
    <div>
      <a href="{{ url_for('auth.authorize_strava') }}">Authorize Strava</a>
    </div>
  {% else %}
    <div>
      <button onclick="triggerstravapull();">Update Strava</button>
    </div>
    <div>
      activities from <span id='earliest_activity'>{{g.user.earliest_activity()}}</span> to <span id='latest_activity'>{{g.user.latest_activity()}}</span>
    </div>
  {% endif %}
  <div>
      <input type="color" id="Usercolor" name="Usercolor"value="{{g.user.color[:7]}}"onclick="resetsubmitbutton();">
      <label for="Usercolor">User Color</label>
      <input type="submit" value="update color" id="colorsubmit" onclick="updatecolor();">
  </div>
  <div>
    <img src="{{url_for('static', filename='images/loading.gif')}}" id="loading" style="display:none">
  </div>

{% endblock %}